@font-face {
    font-family: "Houshka-Bold";
    src: url('assets/fonts/HouschkaPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: Houshka-Light;
    src: url('assets/fonts/HouschkaPro-Light.otf') format('opentype');
}

.vh-parent {
    height: inherit !important;
}

body {
    font-family: "Houshka-Light", serif;
    font-size: 1.2rem;
    color: #232323;
    cursor: default;
}

h2 {
    font-size: 1.9rem !important;
}

.bold {
    font-family: "Houshka-Bold", serif;
}

.swiper-button-next {
    /*ff762a - цвет*/
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff762a'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-button-prev {
    /*ff762a - цвет*/
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff762a'%2F%3E%3C%2Fsvg%3E") !important;
}

.box-1 {
    /*background-color: #e27734;*/
    /*height: 300px;*/
    background-color: rgb(255,118,42);
    /*padding: 0 0;*/
    padding: 40px 0;
}

/*.box-1-contacts-left {*/
/*    margin: 40px 0;*/
/*}*/

.box-1-contacts-left span {
    width: 100%;
}

.box-1-contacts-left-text{
    padding-bottom: 20px;
}

.box-1-contacts-left-tel{
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.tel-link{
    color: black;
}
.tel-link:hover{
    color: #232323;
    text-decoration: none;
}

.box-1-contacts-right {
    /*margin: 40px 0;*/
    /*text-align: right;*/
    /*padding-bottom: 20px;*/
}

.social-box{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: .2rem;
}

.social-box:hover {
    opacity: .8;
}

.social-f{
    background-image: url("assets/img/fb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-i{
    background-image: url("assets/img/inst.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-m{
    background-image: url("assets/img/mail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box-1-contacts-right span {
    width: 100%;
}

.box-1-contacts-right a{
    text-decoration: none;
    color: black;
}

.box-1-contacts-right a:hover {
    color: #232323;
}

.box-1-contacts-right-hashtag {
    padding: 5px 15px;
    margin: 20px 0;
    text-transform: uppercase;
    background-color: #232323;
    color: white;
    width: auto;
}

.box-2-logo {
    height:120px;
}

.logo-wrapper {
    position: relative;
    bottom: 197.45px;
    width: 200px;
    height: 317.45px;
    overflow: hidden;
    display: inline-block;
}

.box-2-logo img {
    width: 200px;
    left: 0;
    right:0;
    position: absolute;
}

.logo-bot-bg {
    z-index: 100;
    bottom: 0;
}

.logo-bot-border {
    z-index: 102;
    bottom: 0;
}

.logo-gus-wrapper {
    width: 200px;
    height: 317.45px;
    overflow: hidden;
    -moz-border-radius-bottomleft: 145px;
    border-bottom-left-radius: 145px;
    -webkit-border-bottom-right-radius: 145px;
    border-bottom-right-radius: 145px;
    position: absolute;
    bottom: 2px;
    z-index: 101;
}

.logo-gus {
    bottom: 1px;
}

.logo-top {
    bottom: 123.75px;
    z-index: 100;
}

.box-3 {
    /*height: 80vh;*/
    color: white;
    position: relative;
    /*width: 100vw;*/
    /*overflow: hidden;*/
}

.bg-title-1 {
    /*margin-left: -30px;*/
    background-image: url("assets/img/bgTitle1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 4rem;
}
.title-1 {
    /*width: 20rem;*/
    background-size: 20rem 100%;
    padding-left: 4rem;
}
.title-2 {
    /*width: 10rem;*/
    background-size: 10rem 100%;
    padding-left: 1rem;
}
.title-3 {
    /*width: 15.5rem;*/
    background-size: 15.5rem 100%;
    padding-left: 1.5rem;
}
.bg-title-2 {
    /*margin-left: -30px;*/
    background-image: url("assets/img/bgTitle2.png");
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    height: 4rem;
}
.title-4 {
    /*width: 26rem;*/
    background-size: 26rem 100%;
    padding-left: 4rem;
}

.box-2-text {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}


.box-3-content-left-upper {
    /*height: 50vh;*/
}

.box-3-content-left-bottom-left {
    /*height: 30vh;*/
}

.box-3-content-left-bottom-right {
    /*height: 30vh;*/
}

.box-3-content-right {
    /*height: 80vh;*/
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    position: relative;
    padding: .5rem 0 .5rem .5rem;
    cursor: pointer;
    padding-left: 1.7rem;
}

.list li:before {
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: white;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: .8rem;
}

.list li:hover:before{
    box-shadow: 0 0 0 10px rgb(255,118,42)
}

.list li:last-child:after {
    content: none;
}

.list li:after {
    position: absolute;
    border-left: .2rem solid rgb(255,118,42);
    width: 1px;
    bottom: -1.5rem;
    content: "";
    left: .3rem;
    top: 1.6rem;
}

.bg-wrapper {
    background-color: #232323;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: -15px
}
.bg-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*z-index: -100;*/
    -webkit-filter: blur(10px);
    filter: blur(10px);
    transform: scale(1.05);
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
}

.box-4 {
    background-color: #232323;
    position: relative;
}
.box-4-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.box-4-wrapper-left {
    background-color: rgb(255,118,42);
    height: 100%;
    /*top: 10px;*/
    /*bottom: 10px;*/
}

.box-4-wrapper-right {
    background-color: rgb(255,118,42);
    height: 100%;
}

.box-4 dt {
    font-family: "Houshka-Bold", serif;
}

.box-5 {
    height: 60vh;
    background-color: #232323;
}

.box-6 {
    background-color: #232323;
}

.partner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-1 {
    background-image: url("assets/img/partner/1.png");
    height: 2rem;
}

.partner-2 {
    background-image: url("assets/img/partner/2.png");
    height: 2rem;
}

.partner-3 {
    background-image: url("assets/img/partner/3.png");
    height: 3rem;
}

.partner-4 {
    background-image: url("assets/img/partner/4.png");
    height: 6rem;
}

.partner-5 {
    background-image: url("assets/img/partner/5.png");
    height: 5rem;
}

.partner-6 {
    background-image: url("assets/img/partner/6.png");
    height: 5rem;
}

.box-7 {
    position: relative;
    background-color: rgb(255,118,42);
    min-height: 25vh;
    text-transform: uppercase;
    font-family: "Houshka-Bold", serif;
    font-size: 1.5rem;
    color: white;
}
.box-7-wrapper{
    min-height: 25vh;
}

.box-8 {
    background-color: #232323;
}

.box-8 iframe {
    width: 100%;
    height: 25vh;
}

.box-9 {
    background-color: #232323;
    /*height: 35vh;*/
}

.box-9 .row {
    /*height: 17.5vh;*/
}

.box-9 .col {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-7 {
    background-image: url("assets/img/partner/7.png");
    height: 5rem;
}

.partner-8 {
    background-image: url("assets/img/partner/8.png");
    height: 3.2rem;
}

.partner-9 {
    background-image: url("assets/img/partner/9.png");
    height: 3.7rem;
}

.partner-10 {
    background-image: url("assets/img/partner/10.png");
    height: 3rem;
}

.partner-11 {
    background-image: url("assets/img/partner/11.png");
    height: 3.3rem;
}

.partner-12 {
    background-image: url("assets/img/partner/12.png");
    height: 3rem;
}

.box-10 {
    /*height: 45vh;*/
}

.box-10 .row {
    /*height: 22.5vh;*/
}

.box-10 .col-4 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-13 {
    background-image: url("assets/img/partner/13.png");
    height: 4rem;
}

.partner-14 {
    background-image: url("assets/img/partner/14.png");
    height: 1.8rem;
}

.partner-15 {
    background-image: url("assets/img/partner/15.png");
    height: 4rem;
}

.partner-16 {
    background-image: url("assets/img/partner/16.png");
    height: 6.5rem;
}

.partner-17 {
    background-image: url("assets/img/partner/17.png");
    height: 7rem;
}

.box-11 {
    min-height: 20vh;
    text-transform: uppercase;
    font-family: "Houshka-Bold", serif;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(255,118,42);
}
.box-11-wrapper{
    min-height: 20vh;
}

.box-12 {
    min-height: 80vh;
    background-image: url("assets/img/slider/car-ph15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-13 {
    /*height: 60vh;*/
}

.box-13 .row {
    /*height: 20vh;*/
}

.box-13 .col-4 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-18 {
    background-image: url("assets/img/partner/18.png");
    height: 7rem;
}

.partner-19 {
    background-image: url("assets/img/partner/19.png");
    height: 7rem;
}

.partner-20 {
    background-image: url("assets/img/partner/20.png");
    height: 12rem;
}

.partner-21 {
    background-image: url("assets/img/partner/21.png");
    height: 6rem;
}

.partner-22 {
    background-image: url("assets/img/partner/22.png");
    height: 5rem;
}

.partner-23 {
    background-image: url("assets/img/partner/23.png");
    height: 3.7rem;
}

.partner-24 {
    background-image: url("assets/img/partner/24.png");
    height: 12rem;
}

.partner-25 {
    background-image: url("assets/img/partner/25.png");
    height: 4rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #232323;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide-next{
    opacity: .2;
}
.swiper-slide-prev{
    opacity: .2;
}

.sl-1 {
    background-image: url("assets/img/slider/car-ph1.JPG");
}

.sl-2 {
    background-image: url("assets/img/slider/car-ph2.JPG");
}

.sl-3 {
    background-image: url("assets/img/slider/car-ph3.JPG");
}

.sl-4 {
    background-image: url("assets/img/slider/car-ph4.JPG");
}

.sl-5 {
    background-image: url("assets/img/slider/car-ph5.JPG");
}

.sl-6 {
    background-image: url("assets/img/slider/car-ph6.JPG");
}

.sl-7 {
    background-image: url("assets/img/slider/car-ph7.JPG");
}

.sl-8 {
    background-image: url("assets/img/slider/car-ph8.JPG");
}

.sl-9 {
    background-image: url("assets/img/slider/car-ph9.JPG");
}

.sl-10 {
    background-image: url("assets/img/slider/car-ph10.JPG");
}

.sl-11 {
    background-image: url("assets/img/slider/car-ph11.JPG");
}

.sl-12 {
    background-image: url("assets/img/slider/car-ph12.JPG");
}

.sl-13 {
    background-image: url("assets/img/slider/car-ph13.JPG");
}

.sl-14 {
    background-image: url("assets/img/slider/car-ph14.JPG");
}

.sl-15 {
    background-image: url("assets/img/slider/car-ph15.JPG");
}

.sl-16 {
    background-image: url("assets/img/slider/car-ph16.JPG");
}

.sl-17 {
    background-image: url("assets/img/slider/car-ph17.JPG");
}

.sl-18 {
    background-image: url("assets/img/slider/car-ph18.JPG");
}

.sl-19 {
    background-image: url("assets/img/slider/car-ph19.JPG");
}
