@font-face {
    font-family: "Houshka-Bold";
    src: url('assets/fonts/HouschkaPro-Bold.otf') format('opentype');
}
@font-face {
    font-family: Houshka-Light;
    src: url('assets/fonts/HouschkaPro-Light.otf') format('opentype');
}

.vh-parent {
    height: inherit !important;
}

body {
    font-family: "Houshka-Light", serif;
    font-size: 1.2rem;
    color: #232323;
    cursor: default;
}

h2 {
    font-size: 1.9rem !important;
}

.bold {
    font-family: "Houshka-Bold", serif;
}

.box-1 {
    /*background-color: #e27734;*/
    /*height: 300px;*/
    background-color: rgb(255,118,42);
    padding: 40px 0;
}

.box-1-contacts-left span {
    width: 100%;
}

.box-1-contacts-left-text{
    padding-bottom: 20px;
}

.box-1-contacts-left-tel{
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.tel-link{
    color: black;
}
.tel-link:hover{
    color: #232323;
    text-decoration: none;
}

.box-1-contacts-right {
    /*text-align: right;*/
    /*padding-bottom: 20px;*/
}

.social-box{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: .2rem;
}

.social-box:hover {
    opacity: .8;
}

.social-f{
    background-image: url("assets/img/fb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-i{
    background-image: url("assets/img/inst.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-m{
    background-image: url("assets/img/mail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box-1-contacts-right span {
    width: 100%;
}

.box-1-contacts-right a{
    text-decoration: none;
    color: black;
}

.box-1-contacts-right a:hover {
    color: #232323;
}

.box-1-contacts-right-hashtag {
    padding: 5px 15px;
    margin: 20px 0;
    text-transform: uppercase;
    background-color: #232323;
    color: white;
    width: auto;
}

.box-2 {
    /*height: 25vh;*/
    /*text-align: center;*/

}

.box-2-logo {
    height: 120px;
}
.box-2-logo img {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 200px;
    position: relative;
    top: -170%;
}

.box-3 {
    /*height: 80vh;*/
}

.bg-title-1 {
    /*margin-left: -30px;*/
    background-image: url("assets/img/bgTitle1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 4rem;
}
.title-1 {
    /*width: 20rem;*/
    background-size: 20rem 100%;
    padding-left: 4rem;
}
.title-2 {
    /*width: 10rem;*/
    background-size: 10rem 100%;
    padding-left: 1rem;
}
.title-3 {
    /*width: 15.5rem;*/
    background-size: 15.5rem 100%;
    padding-left: 1.5rem;
}
.bg-title-2 {
    /*margin-left: -30px;*/
    background-image: url("assets/img/bgTitle2.png");
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    height: 4rem;
}
.title-4 {
    /*width: 26rem;*/
    background-size: 26rem 100%;
    padding-left: 4rem;
}

.box-2-text {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}


.box-3-content-left-upper {
    /*height: 50vh;*/
}

.box-3-content-left-bottom-left {
    /*height: 30vh;*/
}

.box-3-content-left-bottom-right {
    /*height: 30vh;*/
}

.box-3-content-right {
    /*height: 80vh;*/
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    position: relative;
    padding: .5rem 0 .5rem .5rem;
    cursor: pointer;
    padding-left: 1.7rem;
}

.list li:before {
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #232323;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: .8rem;
}

.list li:hover:before{
    box-shadow: 0 0 0 10px rgb(255,118,42)
}

.list li:last-child:after {
    content: none;
}

.list li:after {
    position: absolute;
    border-left: .2rem solid rgb(255,118,42);
    width: 1px;
    bottom: -1.5rem;
    content: "";
    left: .3rem;
    top: 1.6rem;
}

.box-4 {
    background-color: rgb(255,118,42);
}

.box-4 dt {
    font-family: "Houshka-Bold", serif;
}

.box-5 {
    height: 100vh;
}

.box-5-content-1-1 {
    height: 50vh;
    background-image: url("assets/img/ph1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-5-content-2-1 {
    height: 50vh;
    background-image: url("assets/img/ph2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-5-content-3-1 {
    height: 25vh;
    background-image: url("assets/img/ph3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-5-content-3-2 {
    height: 25vh;
    background-image: url("assets/img/ph4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-6 {
    background-color: #232323;
    /*height: 50vh;*/
}

.box-6 .row {
    /*height: 25vh;*/
}

.partner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-1 {
    background-image: url("assets/img/1.png");
    height: 2rem;
}

.partner-2 {
    background-image: url("assets/img/2.png");
    height: 2rem;
}

.partner-3 {
    background-image: url("assets/img/3.png");
    height: 3rem;
}

.partner-4 {
    background-image: url("assets/img/4.png");
    height: 6rem;
}

.partner-5 {
    background-image: url("assets/img/5.png");
    height: 5rem;
}

.partner-6 {
    background-image: url("assets/img/6.png");
    height: 5rem;
}

.box-7 {
    background-color: rgb(255,118,42);
    min-height: 25vh;
    text-transform: uppercase;
    font-family: "Houshka-Bold", serif;
    font-size: 1.5rem;
    color: white;
}

.box-8 {
    min-height: 75vh;
    background-image: url("assets/img/ph5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-9 {
    background-color: #232323;
    /*height: 35vh;*/
}

.box-9 .row {
    /*height: 17.5vh;*/
}

.box-9 .col {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-7 {
    background-image: url("assets/img/7.png");
    height: 5rem;
}

.partner-8 {
    background-image: url("assets/img/8.png");
    height: 3.2rem;
}

.partner-9 {
    background-image: url("assets/img/9.png");
    height: 3.7rem;
}

.partner-10 {
    background-image: url("assets/img/10.png");
    height: 3rem;
}

.partner-11 {
    background-image: url("assets/img/11.png");
    height: 3.3rem;
}

.partner-12 {
    background-image: url("assets/img/12.png");
    height: 3rem;
}

.box-10 {
    /*height: 45vh;*/
}

.box-10 .row {
    /*height: 22.5vh;*/
}

.box-10 .col-4 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-13 {
    background-image: url("assets/img/13.png");
    height: 4rem;
}

.partner-14 {
    background-image: url("assets/img/14.png");
    height: 1.8rem;
}

.partner-15 {
    background-image: url("assets/img/15.png");
    height: 4rem;
}

.partner-16 {
    background-image: url("assets/img/16.png");
    height: 6.5rem;
}

.partner-17 {
    background-image: url("assets/img/17.png");
    height: 7rem;
}

.box-11 {
    min-height: 20vh;
    text-transform: uppercase;
    font-family: "Houshka-Bold", serif;
    font-size: 1.5rem;
}

.box-12 {
    min-height: 80vh;
    background-image: url("assets/img/ph6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-13 {
    /*height: 60vh;*/
}

.box-13 .row {
    /*height: 20vh;*/
}

.box-13 .col-4 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partner-18 {
    background-image: url("assets/img/18.png");
    height: 7rem;
}

.partner-19 {
    background-image: url("assets/img/19.png");
    height: 7rem;
}

.partner-20 {
    background-image: url("assets/img/20.png");
    height: 12rem;
}

.partner-21 {
    background-image: url("assets/img/21.png");
    height: 6rem;
}

.partner-22 {
    background-image: url("assets/img/22.png");
    height: 5rem;
}

.partner-23 {
    background-image: url("assets/img/23.png");
    height: 3.7rem;
}

.partner-24 {
    background-image: url("assets/img/24.png");
    height: 12rem;
}

.partner-25 {
    background-image: url("assets/img/25.png");
    height: 4rem;
}
