html {
    background: #7e9ed6;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: top;
    font-family: "Roboto";
}
body {
    margin: 0;
}
img {
    width: 25%;
}
h2 {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    padding-top: 1em;
    color: #5271d6;
    font-weight: bold;
}
sup {
    vertical-align: 0.57em;
    font-size: 0.55em;
}
sub {
    vertical-align: 0;
    font-size: 0.45em;
    font-weight: 500;    
}
.info {
    font-size: 0.72rem;
    line-height: 1.1rem;
    letter-spacing: 0.01rem;
    font-weight: bold;
    padding: 0.5em 2.7em;
    color: #adaaad;
}
.prise {
    margin: 0;
    padding-bottom: 0.5em;
    color: #5271d6;
    font-size: 1.55rem;
    font-weight: 500;
}
.mainButton {
    cursor: pointer;
    background-color: #2b59ff;
    padding: 0.8em 2.3em;
    border-radius: 4px;
    border: none;
    color: #d8e4ff;
    margin: 1.7em;
    margin-top: 1em;
}
.mainBox{
    text-align: center;
    background-color: white;
    margin: 5.6rem auto;
    width: 63.5%;
    min-width: 750px;
    border-radius: 4px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}
.container {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1.2em;
    padding-bottom: 0.3em;
}
.box {
    cursor: pointer;
    min-width: 240px;
    padding-top: 2em; 
    width: 35%;
    height: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.box:hover {
    background-color: #f6f5f7;
    border-radius: 4px;
}
.modalBox {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
	left: 0;
    top: 0;
    width: 100%;
	height: calc(100% * 1.3);
    overflow: auto;
    display: none;
}
.modal {
    cursor: default;
    position: relative;
    text-align: center;
    margin: 9.3rem auto;
    width: 28.5%;
    min-width: 350px;
    box-shadow: none;
}
.modalHeader {
    font-weight: bold;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}
.modalClose {
    cursor: pointer;
    position: absolute;
    right: 0.9rem;
    top: 0.75rem;
    width: 3.5%;
}
.modalClose img {
    width: 100%;
}
.modalImg {
    width: 20%;
}

@media screen and (max-width: 750px){
    .mainBox {
        /* width: 63.5%; */
        min-width: 300px;
        width: 50%;
    }
    .container{
        flex-direction: column;
    }
    .box {
        padding: 10% 0;
        padding-bottom: 4%; 
        width: 100%;
    }
    .modal {
        margin-bottom: 0;
        min-width: 318px;
        width: 80%;
    }
}