body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	overflow: hidden;
}

.grid {
  width:100%;
  height:100vh;
  background-color:#222d34;
  background-image:
    linear-gradient(#661717 1px, transparent 1px),
    linear-gradient(90deg, #661717 1px, transparent 1px),
    linear-gradient(#222d34 1px, transparent 1px),
    linear-gradient(90deg, #222d34 1px, transparent 1px),
    linear-gradient(#4e5961 1px, transparent 1px),
    linear-gradient(90deg, #4e5961 1px, transparent 1px);
  background-size:
    100px 100px,
    100px 100px,
    5px 5px,
    5px 5px,
    20px 20px,
    20px 20px;
  background-position:
    -1px -1px,
    -1px -1px,
    0 0,
    0 0,
    -1px -1px,
    -1px -1px;
}

circle:hover {
	cursor: pointer;
    fill-opacity:0.6;
    stroke-width: 3px;
    stroke: #333;
}

.circle.active {
	cursor: pointer;
    fill-opacity:0.6;
    stroke-width: 3px;
    stroke: #333;
}